@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Hubballi&family=Poppins:wght@200&family=Roboto:wght@300;500&family=Source+Sans+Pro&display=swap");

.userTable {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
  width: 320px;
}
.userDetails :hover {
  cursor: pointer;
}

.userDetails img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 13px;
}
.userDetails .name {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  list-style: none;
}
.userDetails .email {
  padding-top: 4px;
  font-size: 14px;
  list-style: none;
}

.dropdown {
  width: 200px;
}

.btn {
  background-color: #edf2f5;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.lock {
  color: rgba(86, 87, 86, 0.89);
  margin-left:50px;
  width: 19px;
}

.select {
  outline: none;
  border: 0;
  background-color: #f2f2f2;
  padding: 6px;
  border-radius: 3px;
}
.select:hover {
  cursor: pointer;
}
.trash {
  color: rgba(218, 8, 8, 0.363);
  margin-left: 10px;
  /* width: 100px; */
  font-size: 22px;
}
.trash:hover {
  cursor: pointer;
  color: rgba(218, 8, 8, 0.904);
}
.is_active {
  color: rgba(3, 145, 22, 0.89);
  font-size: 15px;
  font-family: Roboto;
  font-weight: 550;
  padding-left: 30px;
}
.is_owner {
  color: rgba(148, 151, 148, 0.89);
  font-size: 15px;
  font-family: Roboto;
  font-weight: 550;
  padding-left: 43px;
}
